:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #F9F9F9;
  --blue: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  color: var(--blue) !important;
}

.app {
  display: flex;
  overflow: hidden;

}

.navbar {
  flex: 0.2;
  background-color: rgb(0, 21, 41);
}

.main {
  flex: 0.8;
  width: 100%;
}

.routes {
  padding: 0px;
}

.nav-container {
  position: fixed;
  left: 0;
  margin: 10px;
  height: 100vh;
  margin: 0px;
  background-color: rgb(0, 21, 41);
  width: 280px;
}


.logo-container {
  background-color: #001529;
  display: flex;
  padding-left: 15px;
  padding-top: 5px;
  align-items: center;
  width: 100%;
}

.logo {
  margin-top: 15px;
  margin-left: 10px;
}

.logo a {
  color: white;
}

.menu-control-container {
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 25px !important;
  font-size: 1.2rem !important;
  background-color: var(--bgSecondary) !important;
  border: none !important;
}

.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 2000px) {
  main {
    margin-left: 50px;
  }

  .nav-container {
    width: 345px;
  }
}

@media screen and (max-width: 1700px) {

  main {
    margin-left: 50px;
  }

  .nav-container {
    width: 315px;
  }
}

@media screen and (max-width: 1500px) {

  main {
    margin-left: 50px;
  }

  .nav-container {
    position: fixed;
    left: 0;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    background-color: rgb(0, 21, 41);
    width: 290px;
  }
}


@media screen and (max-width:1300px) {

  .main {
    margin-left: 50px;
  }

  .nav-container {
    position: fixed;
    left: 0;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    background-color: rgb(0, 21, 41);
    width: 280px;
  }
}

@media screen and (max-width:1170px) {
  .main {
    margin-left: 50px;
  }
}

@media screen and (max-width:1000px) {

  .nav-container {
    position: fixed;
    left: 0;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    background-color: rgb(0, 21, 41);
    width: 380px;
  }
}

@media screen and (max-width:800px) {
  .app {
    flex-direction: column;
    overflow: hidden;
  }

  .navbar {
    flex: 1;
  }

  .main {
    flex: 1;
    margin-top: 90px;
    margin-left: 0px;
    margin-right: 10px;
  }

  .nav-container {
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--bgSecondary);
  }

  .menu-control-container {
    display: block !important;
  }

  .ant-menu {
    position: absolute;
    right: 0px;
  }

  .home-title {
    font-size: 1.4rem !important;
  }

  .show-more {
    font-size: 1.3rem !important;
  }
}

.coin-detail-container {
  margin: 30px;
}

.coin-desc {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-top: 20px;

  p {
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 20px;
  }
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--pink);
}

.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.stats-container {
  display: flex;
  justify-content: center;
  ;
  align-items: center;
  gap: 40px;
}

.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--pink);
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--pink) !important;
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;

}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--pink);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--pink);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
}

.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a {
  color: var(--pink);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}


@media screen and (max-width:1000px) {
  .stats-container {
    flex-direction: column;
  }

  .coin-desc-link {
    flex-direction: column;
  }

  .stats-container h2 {
    margin-top: 0px;
  }

  .coin-detail-container {
    margin: 30px;
  }
}

@media screen and (max-width: 500px) {
  .coin-links {
    padding: 0px;
  }

  .coin-detail-container {
    margin: 30px;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    margin-top: 20px;
  }
}

.select-news {
  width: 180px;
}

.news-card {
  min-height: 300px !important;
}

.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
}

.news-title {
  width: 70%;
}

.news-image-container .img {
  width: 100px;
  height: 100px;
}

.news-card p {
  color: black;
  margin: 10px 0px !important;
}

.provider-container {
  display: flex;
  justify-content: space-between;
}

.provider-name {
  margin-left: 10px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd;
}

.chart-title {
  color: #0071bd !important;
}

.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

.price-change {
  font-weight: 900 !important;
}

.current-price {
  margin-top: 0px !important;
  font-weight: 900 !important;
}

.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.show-more {
  margin-top: 0px !important;
}

.exchange-image {
  margin: 0px 10px !important;
}

.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}

.crypto-card-container {
  min-height: 65vh !important;
  padding: 1.8em;
}

.crypto-card {
  min-width: 250px;
}

.crypto-card .crypto-image {
  width: 35px;
}

.select-timeperiod {
  width: 200px !important;
  margin-top: 20px !important;
}

.footer {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}


/* ============= cryptoquiz styling =================*/

.cryptoquiz {
  height: 100vh;
  display: flex;
  color: white;
  background: url("https://i.ytimg.com/vi/yQbJRGs0fy8/maxresdefault.jpg") center;
  padding: 0px;
}



.main-container {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230), url("https://i.ytimg.com/vi/yQbJRGs0fy8/maxresdefault.jpg") center;
  display: flex;
  flex-direction: column;
}

.top {
  height: 50%;
  position: relative;
}

.timer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  left: 80px;
}

.bottom {
  height: 50%;
}


.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question {
  width: 80%;
  background: linear-gradient(#100241, black);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 20px;
}

.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer {
  width: 40%;
  padding: 10px;
  margin: 0 10px 20px 10px;
  text-align: center;
  background: linear-gradient(#0e0124, #22074d);
  border: 1px solid white;
  border-radius: 15px;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
}

.answer:hover,
.answer.active {
  background: mediumblue;
}

.answer.correct {
  animation: correct 3s ease forwards;
}

@keyframes correct {

  0%,
  22%,
  42% {
    background: mediumblue;
  }

  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }

  62%,
  100% {
    background: green;
  }
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {

  0%,
  22%,
  42% {
    background: mediumblue;
  }

  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }

  62%,
  100% {
    background: crimson;
  }
}

.pyramid {
  width: 25%;
  background-color: #020230;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  padding: 20px;
  list-style: none;
  width: 100%;
}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.moneyListItem.active {
  background-color: teal;
}

.moneyListItemNumber {
  width: 30%;
  font-size: 18px;
  font-weight: 100;
}

.moneyListItemAmount {
  font-size: 20px;
  font-weight: 300;
}

.endText {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: yellow;
  font-size: 50px;
}

.start {
  width: 450px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 19px;
}

.start p {
  border: solid yellow;
  background: blue;
}

.start li {
  margin: 3px;
  list-style-type: none;
  justify-content: center;
  text-align: center;
}

.startInput {
  width: 50%;
  height: 25px;
  border: solid yellow;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  color: black;
}

.startInput:focus {
  outline: none;
}

.startButton {
  width: 50%;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
  background-color: mediumblue;
  border: solid yellow;
}

.startButton:hover {
  background-color: #0071bd;
}



@media screen and (max-width: 900px) {
  .endText {
    color: white;
    font-size: 25px;
  }

  .question {
    font-size: 15px;
  }

  .answer {
    font-size: 10px;
  }

  .timer {
    bottom: 50px;
    left: 110px;
  }

  .moneyListItemNumber {
    font-size: 0px;
  }

  .moneyListItemAmount {
    font-size: 13px;
    font-weight: 300;
  }

  .top {
    height: 35%;
  }
}

@media screen and (max-width: 414px) {
  li {
    text-align: center;
    justify-content: center;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 320px) {
  li {
    font-size: 12px;
  }
}



/* < !--- UPDATES ---> */

/*---------------------------------------------*/


@media screen and (max-width: 1300px) {
  .main {
    margin-left: 0px;
  }

  .nav-container {
    width: 30vh;
  }
}

@media screen and (max-width: 1170px) {
  .main {
    margin-left: 0px;
  }

  .nav-container {
    width: 15vh;

    .logo-container {
      background-color: #001529;
      display: flex;
      padding-left: 10px;
      padding-top: 5px;
      align-items: center;
      width: 100%;

      .logo {
        font-size: 1.5rem;
        margin-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .main {
    margin-left: 0px;
  }

  .stats-container {
    flex-direction: column;
  }

  .coin-desc-link {
    flex-direction: column;
  }

  .stats-container h2 {
    margin-top: 0px;
  }

  .coin-detail-container {
    margin: 30px;
  }

  .nav-container {
    position: fixed;
    left: 0;
    margin: 10px;
    width: 14vh;
    height: 100vh;
    margin: 0px;
    background-color: #001529;

    .logo-container {
      background-color: #001529;
      display: flex;
      padding-left: 10px;
      padding-top: 5px;
      align-items: center;
      width: 100%;

      .logo {
        font-size: 1.5rem;
        margin-right: 5px;
        margin-left: -1px;
      }
    }
  }

  .crypto-card {
    min-width: 150px;
  }
}

@media screen and (max-width: 900px) {
  .app {
    flex-direction: column;
    overflow: hidden;
  }

  .routes {
    padding: 0px;
  }

  .navbar {
    flex: 1;
  }

  .main {
    flex: 1;
    margin-top: 90px;
    margin-left: 0px;
    margin-right: 10px;
  }

  .nav-container {
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--bgSecondary);

    .logo-container {
      background-color: #001529;
      display: flex;
      padding-left: 10px;
      padding-top: 5px;
      align-items: center;
      width: 100%;

      .logo {
        font-size: 1.5rem;
        margin-left: 5px;
      }
    }
  }

  .menu-control-container {
    display: block !important;
  }

  .ant-menu {
    position: absolute;
    right: 0px;
  }

  .home-title {
    font-size: 1.4rem !important;
  }

  .show-more {
    font-size: 1.3rem !important;
  }
}

@media screen and (max-width: 500px) {
  .coin-links {
    padding: 0px;
  }

  .coin-detail-container {
    margin: 30px;
  }

  .heading {
    margin-top: 20px;
  }
}
